@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #252525;
    text-decoration: none;
    transition: .3s;
    font-family: "Roboto";
}

img{
    width: 100%;
}

body{
    position: relative;
}

p{
    line-height: 1.43rem;
}

input{
    font-family: "Roboto";
    letter-spacing: 1px;
}

@media screen and (min-width: 1700px) {
    .root{
        position: absolute;
        display: block;
        width: 100vw;
        height: 100vh;
    }
    .root .App{
        position: relative;
        display: block;
        max-width: 1200px;
    }
}