@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #252525;
    text-decoration: none;
    transition: .3s;
    font-family: "Roboto";
}

img{
    width: 100%;
}

body{
    position: relative;
    /* background-color: rgb(255, 123, 123); */
}

p{
    line-height: 1.43rem;
}