@keyframes asideTransitionMobile {
    from{
        transform: translateY(30px);
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes asideTransition {
    from{
        transform: translateX(30px);
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes buttonHoverOpacity {
    to{
        opacity: 1;
    }
}

.Aside{
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 20px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    top: -30px;
    opacity: 0;
    animation: asideTransitionMobile .5s normal;
    animation-fill-mode: forwards;
}

.Aside h1{
    font-size: 5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.Aside .small-info{
    display: block;
    font-size: 1.06rem;
    margin-bottom: 15px;
}

.Aside .small-info p{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.Aside .small-info p svg{
    margin-right: 5px;
}
.Aside p.description{
    margin-bottom: 30px;
}
.Aside .button-link{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #252525;
    color: white;
    font-weight: 100;
    letter-spacing: 5px;
    text-transform: uppercase;
    overflow: hidden;
    max-width: 250px;
    font-size: 15px;
}

.Aside .button-link svg{
    margin-left: 10px;
    margin-bottom: 1.5px;
}
.Aside .button-link::after{
    content: "";
    width: 500px;
    height: 150px;
    display: block;
    position: absolute;
    right: -15px;
    bottom: 15px;
    background-color: transparent;
    border-radius: 100%;
    transition: .5s;
}
.Aside .button-link:hover::after{
    background-color: rgba(255, 255, 255, 0.025);
}


.Aside .button-link:hover svg{
    transform: translateX(10px);
}

@media screen and (min-width: 750px) {
    .Aside{
        padding: 30px 50px;
    }

    .Aside h1{
        font-size: 6.25rem;
    }

    .Aside .small-info{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .Aside .description{
        font-size: 1.5rem;
        line-height: 2.12rem;
    }
    
}

@media screen and (min-width: 1100px) {
    .Aside{
        position: absolute;
        max-width: 40%;
        top: 70px;
        right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        animation: asideTransition .5s normal;
        animation-fill-mode: forwards;
    }

    .Aside .small-info{
        font-size: 1.06rem;
    }

    .Aside p.description{
        font-size: 1.06rem;
        line-height: 1.5rem;
        margin-bottom: 40px;
        max-width: 440px;
    }

    .Aside h1{
        position: relative;
        left: -350px;
        font-size: 8.8rem;
        margin-bottom: 35px;
    }
    .Aside .button-link{
        left: -150px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}