@keyframes imageTransition {
    to{
        opacity: 1;
    }
}

.place-image img{
    position: relative;
    display: block;
    /* min-height: 100%; */
    width: 120%;
    /* max-height: 800px; */
}

.place-image{
    width: 100%;
    overflow: hidden;
    opacity: 0;
    animation: imageTransition 1s normal;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

@media screen and (min-width: 1100px) {
    .place-image img{
        width: 100vw;
    }
    .place-image{
        display: inline-block;
        position: absolute;
        top: 0;
        height: 100vh;
        max-width: 60%;
    }
}  
@media screen and (min-width: 1600px) {
    .place-image img{
        width: 80vw;
    }
}  