@keyframes opacityTransition {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

header{
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    opacity: 0;
    transform: translateY(-20px);
    animation: opacityTransition .5s normal;
    animation-fill-mode: forwards;
}
header .search-container{
    position: relative;
    height: 100%;
    max-width: 500px;
    margin: auto;
}
header .search-container input{
    display: inline-block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    padding-left: 45px;
    border: 2px solid rgba(37, 37, 37, 0.5);
    border-radius: 5px;
    background-color: transparent;
    outline: transparent;

    left: 50%;
    transform: translateX(-50%);
}

header .search-container input::placeholder{
    color: rgba(37, 37, 37, 0.5);
}

header .search-container input:focus{
    border-color: rgba(37, 37, 37, 0.774);   
}

header .search-container input:focus::placeholder{
    color: rgba(37, 37, 37, 0.774);
}

header .search-container i.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 0;
    left: 10px;
}